body {
    background-image: url("../assets/GradientBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

h1 {
color: black;
}


  #lead-content{
      display: flex;
      justify-content: center;
        text-decoration: underline;
      
  }

  .col-md-4 {
      display: flex;
      justify-content: center;
      background: rgb(242, 112, 156), rgb(255, 148, 114);
  }
  .col-md-8 {
      display: flex;
      justify-content: center;
      padding: 10px; border: 10px solid #D4AF37;
      font-style: oblique;
      font-weight: 900;
      border-radius: 30px;   
  }

  .work {
      display: flex;
      justify-content: center;
      text-decoration: underline;
      
  }


   img {
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: blueviolet;

    
   }
   
   #experience h3, h4, p {
    display: flex;
    justify-content: center;   
    font-weight: 900;     
  }

  .education {
    display: flex;
    justify-content: center; 
    text-decoration: underline;
  }
  .education-date {
    display: flex;
    justify-content: center; 
    
  }

  .projects {
    display: flex;
    justify-content: center; 
  }


#menu.shadow, ul li {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    list-style-type: none;
    margin: 8px;
    font-style: oblique;
    
}

 #skills.tech-skills ul li {
   display: flex;
   justify-content: center;
    align-items: center;  
}

h2 {
    display: flex;
    justify-content: center;
}

#contact-form {
    display: flex;
    justify-content: center;  
}

